server {
    listen {{ nginx__listen_port }};
    server_name localhost;

    location / {
        proxy_pass http://{{ nginx__proxy_pass_host }}:{{ nginx__proxy_pass_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}